<% content_for :content do %>

<p id="timer">
</p>

<%= yield :test_heading %>

<h2><%= link_to 'Default Timer', test_default_timer_path %></h2>
<ul class="default_timer">
</ul>

<h2><%= link_to 'Override Timer', test_override_timer_path %></h2>
<ul class="override_timer">
</ul>

<h2><%= link_to 'No Timer', test_no_timer_path %></h2>
<ul class="no_timer">
</ul>

<h2><%= link_to 'No Refresh', test_no_refresh_path %></h2>
<ul class="no_refresh">
</ul>

<% end %>

<%= render template: "layouts/application" %>
